<body style="width: 100%;height: 100%; background-color:#3399ff ;">
  <div class="" style="width: 50%;height: 100%;background-color: #d9d9d9; margin: auto;padding-top: 10px;margin-top:150px;padding-bottom: 50px;">
  <div class="" style="width:70%;margin:auto">
    <h1 style="color:coral">Employee Database</h1>

    <%= link_to 'List of Employees', controller: 'employee_tables', style:'color:white; font-weight: bold;text-decoration:none;margin-left: 60px;background-color: #00ff00; padding: 4px 10px 4px 10px' %>

    <%= link_to "Add Employee", "/employee_tables/new", style:'color:white; font-weight: bold;text-decoration:none;margin-left: 60px;background-color: #00ff00; padding: 4px 10px 4px 10px' %>
  </div>

  </div>
</body>
